{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "quoteProps": "consistent",
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": false
}
