global:
  scrape_interval: 1s
  scrape_timeout: 1s
  evaluation_interval: 5s

alerting:
  alertmanagers:
    - follow_redirects: true
      enable_http2: true
      scheme: http
      timeout: 10s
      api_version: v2
      static_configs:
        - targets: []

scrape_configs:
  - job_name: wasimoff
    honor_timestamps: true
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets: [broker:4080]
